/* Homepage.css */

/* Container for the entire profile */
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Styles for the profile picture */
  .profile-pic {
    margin-bottom: 20px;
  }
  
  /* Styles for the content section */
  .content {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styles for the tech stack */
  .tech-stack {
    list-style-type: none;
    padding: 0;
  }
  
  /* Styles for experiences */
  .experiences {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styles for achievements */
  .achievements {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styles for component headings */
  .component-heading {
    margin-bottom: 10px;
  }
  